#welcome-section{
    height: 200px;
    width: 100%;
    background-color:brown;
    text-align: center;
    color: white;
  }
  #view-port{
      height: 200px;
      width: 100%;
      background-color:cadetblue;
  }